<div class="container py-5">
  <form #todoForm="ngForm" (ngSubmit)="addTodo()" class="row mt-3">
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          name="newTodo"
          [(ngModel)]="newTodo"
          placeholder="{{
            multilangService.getTranslation('addToduPlaceholder')
          }}"
          class="form-control"
        />
        <button type="submit" class="btn btn-primary">
          <i class="bi bi-plus-lg"></i
          >{{ multilangService.getTranslation("addTodu") }}
        </button>
      </div>
    </div>
  </form>
  <ul class="list-group mt-3">
    <li *ngFor="let todo of todos; let i = index" class="list-group-item">
      <div class="input-group">
        <span
          [contentEditable]="todo.editable"
          (input)="editTodoInput($event, i)"
          (keydown.enter)="editTodoEvent($event, i)"
          (blur)="editTodoEvent($event, i)"
          class="form-control"
        >
          {{ todo.name }}
        </span>
        <button
          (click)="deleteTodoConfirm(todo)"
          class="btn btn-danger"
          title="Delete todo"
        >
          <i class="bi bi-trash-fill"></i>
        </button>
        <button
          (click)="saveTodoEvent($event, i)"
          class="btn btn-success"
          title="Save todo"
          [hidden]="!todo.editable"
        >
          <i class="bi bi-check"></i>
        </button>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
