<head>
  <meta name="description" content="Put your description here." />
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/landing-page">
      <img
        src="/assets/images/logo-bwvits.png"
        width="70"
        height="64"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/landing-page" class="nav-link fw-bold active px-2"
            >Home</a
          >
        </li>
          <li>
            <a routerLink="/offer-calculator" class="nav-link fw-bold px-2"
              >Offertenkalkulator</a
            >
          </li>
          <li>
            <a routerLink="/impressum" class="nav-link fw-bold px-2">About</a>
          </li>
          <li>
            <a routerLink="/contact" class="nav-link fw-bold px-2">Kontakt</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fw-bold px-2"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ multilangService.getDefaultLanguage() }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  (click)="changeLanguage('en')"
                  >English</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  (click)="changeLanguage('de')"
                  >Deutsch</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  routerLinkActive="active"
                  (click)="changeLanguage('fr')"
                  >Français</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
<router-outlet></router-outlet>
