<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Unsere Adresse</h2>
      <address>
        1234 Beispielstraße<br />
        Beispielstadt, Beispiel Bundesland 12345<br />
        Deutschland
      </address>
      <div class="embed-responsive">
        <iframe
          class="embed-responsive-item"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2636.615336313428!2d6.9214687156749!3d50.95755827954149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0bc0d7b4ecf3d%3A0xd3da80dd0daa2d5a!2sH%C3%B6herweg%2C%2040415%20D%C3%BCsseldorf!5e0!3m2!1sen!2sde!4v1614970024317!5m2!1sen!2sde"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>
