<app-navbar></app-navbar>
<div class="container mt-5 text-center">
  <h1>Mikroökonomische Daten: Beratung & Bereitstellung</h1>
  <p>Willkommen auf unserer Karte! Hier finden Sie uns:</p>
  <!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container mb-4" style="height: 500px">
  <iframe src="https://maps.google.com/maps?width=520&amp;height=420&amp;hl=en&amp;q=B%C3%BCrglistrasse%208%20%20%20St.%20Gallen+(bwv%20its%20GmbH)&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
</div>
<app-footer></app-footer>
