<div class="container py-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Produkte:</h2>
      <ul>
        <li>
          <label class="btn btn-outline-secondary" for="btn-check-2-outlined">
            <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off" name="produkt1" [(ngModel)]="produkt1.checked" (change)="onCheckboxChange()" >
            Produkt 1
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="produkt2" [(ngModel)]="produkt2.checked" (change)="onCheckboxChange()" class="form-check-input">
            Produkt 2
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="produkt3" [(ngModel)]="produkt3.checked" (change)="onCheckboxChange()" class="form-check-input">
            Produkt 3
          </label>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Gesamtpreis:</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Produkt</th>
            <th>Preis</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="produkt1.checked">
            <td>Produkt 1</td>
            <td>{{ produkt1.preis }}</td>
          </tr>
          <tr *ngIf="produkt2.checked">
            <td>Produkt 2</td>
            <td>{{ produkt2.preis }}</td>
          </tr>
          <tr *ngIf="produkt3.checked">
            <td>Produkt 3</td>
            <td>{{ produkt3.preis }}</td>
          </tr>
          <tr>
            <td>Gesamtpreis:</td>
            <td>{{ gesamtpreis }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
