<app-navbar></app-navbar>
<div class="container py-5" id="htmlData">
  <div class="col-md-4 text-right">
    <button
      class="btn btn-success btn-block"
      (click)="openPDF()"
      title="{{ multilangService.getTranslation('pdfFileToolTipp') }}"
    >
      <i class="bi bi-file-earmark-pdf"></i>
    </button>
    <button class="btn btn-primary btn-block">
      <i class="bi bi-gear-fill"></i>
    </button>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-success">
          <input
            type="radio"
            name="options"
            id="option1"
            [(ngModel)]="vatPercent"
            value="7.7"
            checked
          />
          7.7% VAT
        </label>
        <label class="btn btn-primary">
          <input
            type="radio"
            name="options"
            id="option2"
            [(ngModel)]="vatPercent"
            value="2.5"
          />
          2.5% VAT
        </label>
        <label class="btn btn-danger">
          <input
            type="radio"
            name="options"
            id="option3"
            [(ngModel)]="vatPercent"
            value="3.7"
          />
          3.7% VAT
        </label>
      </div>
      <h2>{{ multilangService.getTranslation("serviceTitel") }}</h2>
      <ul>
        <li>
          <label
            class="btn btn-outline-secondary"
            [class.btn-primary]="service1.checked"
            for="btn-check-1-outlined"
            style="font-weight: bold; color: rgb(0, 0, 0)"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="btn-check-1-outlined"
              checked
              autocomplete="off"
              name="service1"
              [(ngModel)]="service1.checked"
              (change)="onCheckboxChange()"
            />
            {{ multilangService.getTranslation("service1") }}
          </label>
        </li>
        <li>
          <label
            class="btn btn-outline-secondary"
            [class.btn-primary]="service2.checked"
            style="font-weight: bold; color: rgb(0, 0, 0)"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="btn-check-2-outlined"
              checked
              autocomplete="off"
              name="service2"
              [(ngModel)]="service2.checked"
              (change)="onCheckboxChange()"
            />
            {{ multilangService.getTranslation("service2") }}
          </label>
        </li>
        <li>
          <label
            class="btn btn-outline-secondary"
            [class.btn-primary]="service3.checked"
            style="font-weight: bold; color: rgb(0, 0, 0)"
          >
            <input
              type="checkbox"
              class="btn-check"
              id="btn-check-3-outlined"
              checked
              autocomplete="off"
              name="produkt3"
              [(ngModel)]="service3.checked"
              (change)="onCheckboxChange()"
            />
            {{ multilangService.getTranslation("service3") }}
          </label>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <!-- <h2>{{ multilangService.getTranslation("priceTotal") }}</h2> -->
      <ng-container
        *ngIf="service1.checked || service2.checked || service3.checked"
      >
        <table class="table">
          <thead>
            <tr>
              <th>{{ multilangService.getTranslation("serviceColum") }}</th>
              <th>{{ multilangService.getTranslation("priceColum") }}</th>
              <th>{{ multilangService.getTranslation("vatColum") }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="service1.checked">
              <td>{{ multilangService.getTranslation("service1") }}</td>
              <td>{{ service1.price | currency : "CHF " }}</td>
              <td>
                {{ (service1.price * vatPercent) / 100 | currency : "CHF " }}
              </td>
            </tr>
            <tr *ngIf="service2.checked">
              <td>{{ multilangService.getTranslation("service2") }}</td>
              <td>{{ service2.price | currency : "CHF " }}</td>
              <td>
                {{ (service2.price * vatPercent) / 100 | currency : "CHF " }}
              </td>
            </tr>
            <tr *ngIf="service3.checked">
              <td>{{ multilangService.getTranslation("service3") }}</td>
              <td>{{ service3.price | currency : "CHF " }}</td>
              <td>
                {{ (service3.price * vatPercent) / 100 | currency : "CHF " }}
              </td>
            </tr>
            <!--  <tr>
              <td>{{ multilangService.getTranslation("priceTotal") }}</td>
              <td>{{ priceTotal | currency : "CHF " }}</td>
            </tr>
            <tr>
              <td>{{ multilangService.getTranslation("vatNotIncluded") }}</td>
              <td>{{ priceTotal - vatAmount | currency : "CHF " }}</td>
            </tr>
            <tr>
              <td>{{ multilangService.getTranslation("vatAmount") }}</td>
              <td>{{ vatAmount | currency : "CHF " }}</td>
            </tr> -->
          </tbody>
        </table>
        <div
          class="card"
          [ngClass]="{
            'vax-included':
              service1.checked || service2.checked || service3.checked,
            'vax-not-included':
              !service1.checked && !service2.checked && !service3.checked,
            'vat-included': priceTotal > 0,
            'vat-not-included': priceTotal === 0
          }"
        >
          <div class="card-body">
            <!-- <h5 class="card-title">
              {{ multilangService.getTranslation("priceTotal") }}
            </h5> -->
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>{{ multilangService.getTranslation("priceTotal") }}</td>
                  <td>{{ priceTotal | currency : "CHF " }}</td>
                </tr>
                <tr>
                  <td>
                    {{ multilangService.getTranslation("vatNotIncluded") }}
                  </td>
                  <td>{{ priceTotal - vatAmount | currency : "CHF " }}</td>
                </tr>
                <tr>
                  <td>{{ multilangService.getTranslation("vatAmount") }}</td>
                  <td>{{ vatAmount | currency : "CHF " }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!service1.checked && !service2.checked && !service3.checked">
        {{ multilangService.getTranslation("selectProduct") }}
      </div>
    </div>
  </div>
</div>
<div></div>
<!-- <app-footer></app-footer> -->
<router-outlet></router-outlet>
